[tool.poetry]
name = "data_extractor"
version = "0.5.2"
license = "MIT"
description = "Combine XPath, CSS Selectors and JSONPath for Web data extracting."
authors = ["linw1995 <linw1995@icloud.com>"]
readme = "README.rst"
homepage = "https://github.com/linw1995/data_extractor"
repository = "https://github.com/linw1995/data_extractor"
documentation = "https://data-extractor.readthedocs.io/en/latest/"
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Development Status :: 4 - Beta",
    "Operating System :: POSIX",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
]
include = ["HISTORY.md", "LICENSE"]

[tool.poetry.dependencies]
python = "^3.7"
cssselect = "^1.0.3"
jsonpath-rw = "^1.4.0"
lxml = "^4.3.0"
jsonpath-rw-ext = "^1.2"

black = {version = "^19.3b0", optional = true}
flake8 = {version = "^3.7.8", optional = true}
isort = {version = "^4.3.21", optional = true}
mypy = {version = "^0.730", optional = true}
pytest = {version = "^5.2.0", optional = true}
pytest-cov = {version = "^2.7.1", optional = true}
sphinx = {version = "^2.2", optional = true}
doc8 = {version = "^0.8.0", optional = true}
pygments = {version = "^2.4", optional = true}
flake8-bugbear = {version = "^19.8", optional = true}
blacken-docs = {version = "^1.3", optional = true}

[tool.poetry.dev-dependencies]
rope = {version = "^0.14.0"}
pre-commit = "^1.18"

[tool.poetry.extras]
linting = ["black", "blacken-docs", "doc8", "flake8", "flake8-bugbear", "isort", "mypy", "pygments", "pytest"]
test = ["pytest", "pytest-cov"]
docs = ["sphinx"]

[tool.black]
line-length = 80
target-version = ['py37']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
